#play {
  padding: 10px;
border-radius: 10px;
 box-shadow: 0 9px #999;
 background-color: #004d00;
 color: white;


}
#form {
  margin-top: 70px;


}
.row {
  background-image: url(../1.png);
  background-repeat: no-repeat;
  background-size: cover;
  height:300px;
  width:60%;
  border-radius: 30px;
  margin-left: 200px;

}
.container {
  text-align: center;
  background-color: rgb(119,255,51); opacity: 0.9;
  color: white;
  margin-left: 200px;
  margin-top: 200px;
  font-size: 30px;
  height: 500px;
  margin-bottom: 100px;
}
body {
  font-family: 'Indie Flower', cursive;
}
